name: CI

on:
  push:
  pull_request:

jobs:
  phpunit:
    runs-on: ubuntu-latest
    permissions: { contents: read }
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: --no-interaction --prefer-dist

      - name: Run PHPUnit
        run: vendor/bin/phpunit --colors=always

  phpstan:
    runs-on: ubuntu-latest
    permissions: { contents: read }
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: --no-interaction --prefer-dist

      - name: Run phpstan (level 8)
        run: vendor/bin/phpstan analyse --configuration=phpstan.neon --memory-limit=512M
